@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2">Добро пожаловать!</h1>
    <p>Данный сайт предназначен для визуальной классификации вычислительных систем и демонстрации моих навыков</p>
    <p>Меня зовут Лев Погосян, и я будущий младший бэкенд-веб-разработчик</p>
    <a href="https://github.com/trevorgrunt">Мой github</a>.
</div>
