<h4>Каталог</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ShowSearchResult">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div> 
            <div class="form-group">
                <label for="Keyword" class="control-label"></label>
                <input name="Keyword" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Поиск" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Обратно к списку</a>
</div>